/* CSS focado em Grid com estilização simples de LMC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ERRO: Escondendo o foco */
*:focus {
  outline: 3px solid #f1c40f;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  align-items: center;
}

.banner-hero {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.menu-container {
  padding: 40px 5%;
}

input[type="radio"] {
  display: none;
}

.abas-lista button {
  padding: 10px 30px;
  background-color: #eee;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.abas-lista button:hover {
    background-color: #b7b7b7;
}

input:focus {
    outline: 3px solid #f1c40f;
}

input:checked + button[aria-pressed="true"] {
  background-color: #e67e22;
  color: white;
}

input:checked + button[aria-pressed="true"]:hover {
  background-color: #ce711f;
  color: white;
}

/* Sistema de exibição das telas */
.aba-tela {
  display: block;
}

#massa:checked ~ #tela-massas {
  display: block;
}

/* GRID DE PRODUTOS */
.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 Colunas iguais */
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}
.card img {
  width: 100%;
  height: 230px;

}

.preco {
  display: block;
  margin: 10px 0;
  color: #e67e22;
  font-weight: bold;
}

.btn-pedir {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn-pedir:hover {
    background-color: #219350;
}

.rodape {
  background-color: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
}

.rodape button {
  background-color: #0579ec;
  color: white;
  border-color: #2c3e50;
  padding: 2px;
}

.header button {
  background-color: #05386b;
  border-color: #234f7c;
  padding: 1px;
}

