/* Configuração Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* EXERCÍCIO 3 - ID E HIERARQUIA */
#cabecalho-principal {
  background-color: #1b5e20; /* Verde escuro */
  color: white;
  padding: 30px;
  text-align: center;
}

.link-nav {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

/* EXERCÍCIO 4 - FEEDBACK NA NAV */
.link-nav:hover {
  color: #81c784;
  text-decoration: underline;
}

.lista-noticias {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.card-noticia {
  width: 300px;
  border: 2px solid #078723;
  border-radius: 8px;
  padding: 15px;
  transition: 0.3s; /* Para o feedback ser suave */
}

/* EXERCÍCIO 4 - FEEDBACK NO CARD */
.card-noticia:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #f9f9f9;
}

/* EXERCÍCIO 3 - AJUSTE DE IMAGEM (UX) */
.card-noticia img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* EXERCÍCIO 3 - HIERARQUIA UI */
.card-noticia h2 {
  color: #148b1a; /* Título em destaque */
  font-size: 22px;
  margin: 10px 0;
}

.card-noticia p {
  color: #444; /* Texto secundário */
  font-size: 14px;
  line-height: 1.6;
}

.link-nav:focus {
  outline: 3px solid #f1c40f;
  background-color: #1b5e20;
}

.card-noticia:focus {
  outline: 3px solid #f1c40f;
  background-color: #1b5e20;
}

.button-busca {
  display: flex;
  background-color: #2daa35;
}

.button-busca:focus {
  outline: 3px solid #f1c40f;
}

.botao-noticia {
  display: block;
  background-color: #1b5e20;
  color: white;
  padding: 10px;
  border: none;
  width: 200px;
  margin: 3px auto;
  margin-top: 10px;
}

.botao-noticia:focus {
  outline: 3px solid #f1c40f;
}
